<div class="container h-100">
  <div class="row h-100 my-auto justify-content-center align-items-center text-center">
    <form class="col-4 mt-3" action="/restaurants/{{ restaurant._id }}/edit" method="POST"
      onsubmit="return editCheckAgain()">
      <input type="text" placeholder="ä¸­æ–‡åç¨±" name="name" class="form-control input-area" value="{{ restaurant.name }}">
      <input type="text" placeholder="name in English" name="name_en" class="form-control input-area"
        value="{{ restaurant.name_en }}">
      <input type="text" placeholder="category" name="category" class="form-control input-area"
        value="{{ restaurant.category }}">
      <input type="text" placeholder="image" name="image" class="form-control input-area"
        value="{{ restaurant.image }}">
      <input type="text" placeholder="location" name="location" class="form-control input-area"
        value="{{ restaurant.location }}">
      <input type="text" placeholder="phone" name="phone" class="form-control input-area"
        value="{{ restaurant.phone }}">
      <input type="text" placeholder="google_map" name="google_map" class="form-control input-area"
        value="{{ restaurant.google_map }}">
      <input type="text" placeholder="rating" name="rating" class="form-control input-area"
        value="{{ restaurant.rating }}">
      <input type="text" placeholder="description" name="description" class="form-control input-area"
        value="{{ restaurant.description }}">
      <button type="submit" class="btn btn-outline-danger mt-3 mb-5">Save</button>
    </form>
  </div>
</div>